form {
  border: 3px solid #f1f1f1;
}
.adminLogin{
  color: blue;
  text-align: center;
  margin-bottom: 2%;
}
.loginPage {
  margin-top: 12%;
  margin-left: 15%;
  margin-right: 15%;
}

.small{
  font-size: 14px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: rgb(29, 64, 221);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 10%;
  border-radius: 50%;
}
.container {
  padding: 16px;
}
